$gen_color: #fff;
$blue_color: #000;
$dark_blue: #000;

:root {
  --background: #000;
  --text-primary: rgb(255, 255, 255);
  --bg-secondary: #000;
  --card-color-2: #000;
  --first-gradient: rgb(0, 0, 0);
  --second-gradient: rgb(255, 254, 254);
  --Loader1: #fc0000;
  --Loader: #00ff00;
}


[data-theme='white'] {
  --background: #ffffff;
  --text-primary: rgb(0, 0, 0);
  --card-color-2: #fffffa;
  --bg-secondary: #000;
  --first-gradient: #ffffff;
  --second-gradient: rgb(0, 0, 0)
 
}